<section class="jumbotron vcodes">
    <center>
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
        <br>
        <img  draggable="false" style="z-index: 1!important; width: 160px; position: relative;" class="imagef" src="https://cdn.discordapp.com/attachments/951909806011203664/1000335057883496448/11zon_cropped.png" width="320" alt="safeuptime">
        <br>
        <h1 class="has-text-white title" style="font-weight: 800;">Safe Uptime</h1>
        <br>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;">Botlarınızın 7/24 kalmasını mı istiyorsunuz? Safe Uptime ile 10 monitöre kadar projelerinizi ücretsiz aktif tutun!</p>
        <br><br>
      
      </div>
    </div>
    <br>
    </center>
</section>